header {
  height: 60px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: calc(100vh - 60px);
}

.hero-image-about-us {
  background-image: url("../../images/about-us-hero.png");
  height: 510px; /*24% */
  width: 1044px;
  background-position: center;
  position: relative;
  margin: 64px auto 40px auto; 
}
